@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sedan:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-remove::-webkit-scrollbar {
  @apply w-0;
}
body::-webkit-scrollbar {
  @apply w-0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

select {
    appearance: none; /* Remove default arrow */
    /* padding: 10px; */
     appearance: none; /* Remove default arrow */
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

select:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add box shadow on focus */
}

.registration {
    appearance: none; /* Remove default arrow */
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.registration:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 5px rgba(0, 0, 0., 0.6); /* Add box shadow on focus */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}